.table, .th, .td {
    border: 1px solid black;
    font-size: 12px;
    text-align: center;
}

.th {
	overflow: hidden; 
	white-space:nowrap;
	background-color: orange;
	padding-left: 25px;
	padding-right: 25px;
}
.tr:hover{
	background-color: orange;
}
.td{
	padding: 10px;
}
.title{
	font-size: 30px;
	color: orange;
	font-style: arial;
}

.legends{
	font-size: 15px;

}

.inputT{
	width: 200px;
	text-align: center;
}