.p{
	font-size: 20px;
	padding: 10px;
}
.inputT{
	text-align: center;
	font-size: 15px;
	padding: 5px;
	border: 5px;
	border-radius: 8px;
	border: 1px solid black;
	border-color: #ff9933; 
	height: 35px;
	width: 300px;
}
.container{
	border-radius: 10px;
}
.hr{
	border-width: 100px;
	color: black;
}

.h{
	color: orange;
}

.title{
	font-size: 30px;
	color: orange;
	font-style: arial;
}