.bodyLayout{
	background-color: rgba(0,0,0,0.3);
	border-radius: 10px;
	width: auto;
	margin: 20px;
}

.liT
	{

	font-size: 20px;
	padding-bottom: 10px;
	position: block;
	color: #ffff99;
}
.ul	
	{
	list-style-type: none;
	float: center;

}

/**/
.li
	{
	padding: 12px;
}

.li a
	{
	height: 45px;
    line-height: 35px;
	text-align: center;
	width: auto;
	max-width: 400px; 
	text-decoration: none;
	border: 1px solid black;
	border-radius: 6px;
    border-color: ;
	padding: 5px;
    color: ;
	display: block;
	background-color: #ffff99;
}

.li a:hover
	{
	background: rgba(0,0,0,0.5);
	color: white;
}

.marg{
	margin: 8px;
}

.bg{
	background-image: url("pics/test.png");
	height: 100%
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}