.body 
	{
	background-color: ;
	color: orange;
	margin-top: 50px;
	font-family: sans-serif;
}
#input	
	{
	background-color: #d7d7c1;
	text-align: center;
	width: 400px;
	height: 40px;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 8px;
	background: rgba(0,0,0,0.4);
	color: orange;	
}
#button	
	{
	background-color: #d7d7c1;
	text-align: center;
	width: 400px;
	height: 50px;
	font-size: 20px;
	border: 1px solid black;
	border-color: ;
	border-radius: 10px;
	background: rgba(0,0,0,0.3);
	color: orange;
}
.legend
	{

}
.sIcon
	{
	height: 100px;
	width: 100px;
}
fieldset
	{
	border-radius: 10px;
	background: rgba(0,0,0,0.5);
	color: ;
	height: 480px;
	width: 500px;
	padding: 20px;
	border: 1px;
	border-color:;
}