.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    right: 100px;
    margin-top: 0px;
    color: orange;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.liT
    {
    font-size: 20px;
    padding-bottom: 10px;
    position: block;
    color: ;#666699
}
.ul 
    {
    list-style-type: none;
    float: center;

}

/**/
.li
    {
    padding: 10px;
}

.li a
    {
    max-height: 100PX;
    height: auto;
    line-height: 30px;
    text-align: center;
    width: auto;
    max-width: 400px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    border-color: ;
    padding: 5px;
    color: black;
    display: block;
    font-size: 15px;
    background-color: orange;
}

.li a:hover
    {
    background-color:#ffff99;
    color: black;
}

.position{
    position: relative;
    left: 1px;
    top: 100px;
}

.a{
    position: relative;
    top: 10px;
}

.logout{
        position: relative;
        top: 15px;
}

.sIcon{
    height: 25px;
    width: 25px;
    position: relative;
    bottom: 3px;
    left: 6px;
    }

