.liT
    {
    font-size: 20px;
    padding-bottom: 10px;
    position: block;
    color: ;#666699
}
.ul 
    {
    list-style-type: none;
    float: center;

}

/**/
.li
    {
    padding: 10px;
}

.li a
    {
    max-height: 100PX;
    height: auto;
    line-height: 30px;
    text-align: center;
    width: auto;
    max-width: 400px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    border-color: ;
    padding: 5px;
    color: black;
    display: block;
    font-size: 15px;
    background-color: orange;
}

.li a:hover
    {
    background-color:#ffff99;
    color: black;
}

.position{
    position: relative;
    left: 1px;
    top: 100px;
}


}

.logout{
        position: relative;
        top: 15px;
}

