.inputS{
	width: 200px;
	border-radius: 3px;
	text-align: center;
	height: 30px;
	border: 1px solid black;
}

.inputP{
	width: 90px;
	border-radius: 5px;
	text-align: center;
	height: 30px;
	border: 1px solid black;
}

.select{
	width: 210px;
	border-radius: 3px;
	text-align: center;
	height: 30px;
	color: black;
}

.rowBody{
	font-size: 13px;
	color: black;
}

.colBody{
	padding: 10px;
	position: relative;
}

.sort{
	border: 1px solid black;
	border-color: #666699;

}

.padTop{
	padding-top: 20px;
}



