	.banner {
	background-color: white;
	}     
   
	.navbar{
    text-align: center;
	background-color: #ffffcc; #00ff00
	border-right: px solid black;
	color: #666699;
	line-height: 25px;
	font-family: sans-serif;
	}
	
	.size{
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	border-top-color: #ff9933;
	border-bottom-color: #666699;
	border-width: 5px;
	}

	.sIcon{
	height: 25px;
	width: 25px;
	position: relative;
	bottom: 3px;
	left: 6px;
	}
	
	.telIcon{
	height: 15px;
	width: 15px;
	position: relative;
	bottom: 5px;
	left: 6px;
	}


	.bIcons{
	height: 60px;
	width: 60px;
	position: relative;
	bottom: 9px;
	}
	
	.panelB{
	border: 5px solid black; 
	border-color: orange;
	}

    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }  
	
	.panel-header{
	color:orange;
	}
	
	
	body{
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	}

	.bodyLayout{
	background-color: rgba(0,0,0,0.1);
	padding-right: px;
	padding-left: px;
	margin-right: 20px;	
	margin-left: 20px;
	border-radius: 10px;
	}
	

	.mySlides{
	width
	height: 40%;

	}

	.head{
	font-size: 29px;
	font-line-height: 30px;
	padding-top: 20px;
	text-align: justify;
	}

	.active{
	background-color: #f2f2f2;
	}

	.textQ{
	border: 2px solid black;
	border-color: #666699;
	border-style: dashed;
	border-radius: 5px;
	padding: 20px;
	background-color: #ffffcc;
	}

	.motto{
	border: 5px solid black; 
	border-color: orange; 
	border-style: double; 
	border-radius: 5px;
	background-color: #ffffcc;
	}

	.p{
	font-size: 17px;
	}

	li a:hover{
	background-color: red;
	}

	.h{
		color: orange;

	}

	.inputT{
		text-align: center;
		
	}

	.pf{
		font-size: 18px;
	}


	.foot{
		position: relative;
		top: 20px;
	}

	.modSize{
		border-radius: 30px;
		margin-top: 100px;

	}

	.modReservecontent{
		margin-left: 20px;
	}

	.modReserve{
		border-radius: 30px;		
	}

	.modHeader{
		background-color: #ffffcc;
		color:;
	}

	.modHeaderReserve{
		background-color: #666699;
		color: orange;
	}


	.modBody{
		background-color: ;#ffffcc
		color: #666699;
		padding-left: 50px;
	}

	.modFooter{
		background-color: #ff9933;
	}

	.reserveForm{
		text-align: center;
		position: relative;
		top: 10px;
	}

	.reservationContent{
			position: relative;
			bottom: 50px;
	}

	.fbRow{
		
	}

	.fb{
		border-radius: 30px;
		width: 150px;
		height: 150px;
		padding: 20px;
	}

	.fbT{
		font-size: 20px;
		padding: 20px;
		border-bottom: 2px solid black;
		border-bottom-color: #666699;
		
	}

	.b1{
		color: #666699; 

	}

	.b2{
		color:  #ff9933;

	}





